hr {
    margin: 7%;
}

.jacket {
    width: 16vw;
}
.album-title {
    width: 20vw;
}
@media screen and (orientation: portrait){
    .jacket {
        width: 30vw;
    }
    .album-title {
        width: 40vw;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}